{% extends "layout.html.twig" %}

{% block page_name %}Home{% endblock %}

{% block body %}

    <h1>Welcome to CI-quick-start !</h1>

    <h1>Click here to login : <a href="{{ lang('r_login') }}">Login</a></h1>

    <p>The page you are looking at is being generated dynamically by CodeIgniter.</p>

{% endblock %}